body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2{
    text-align: center;
    margin-bottom: 20px;
    color: #10bab4;
}


.table {
    width: 100%;
    border-collapse: collapse;
  }
  
.table td {
    padding: 8px;
    border: 1px solid #ccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Style the tab */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 16.66%;
  }

.tablink:hover {
    background-color: #777;
}

.tabcontent {
    display: none;
    padding: 50px;
    text-align: center;
  }
  

/* Style the manage products table */ 
.product-table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 50px; 
}

.product-table th,
.product-table td {
    width: 12.5%; 
    /* 100% divided by 8 columns */
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;

}



/* add products */
.add-product {
    margin-top: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
}

.add-product-form input[type="submit"] {
  width: 30%; 
  height: 40px; 
}
.add-product-form  input[type="submit"] {
  background-color: #10bab4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.add-product-form  input[type="submit"]:hover {
  background-color: #0c928e;
}



form {
    grid-template-columns: 1fr 2fr;
    gap: 15px;
}

.add-product-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
}

label {
    display: flex;
    align-items: center; /* Center the label vertically */
    justify-content: center; /* Center the label horizontally */
    margin-bottom: 12px; /* Adjust this value to increase the row height */
    text-align: center; /* Center label text horizontally */
  }

  
input,
textarea {
    width: 80%;
    height: 70%;
    margin-bottom: 10px; 
}

.center-container {
    display: flex;
    justify-content: center;
    grid-column: span 2; 
  }

input[type="submit"] {
    width: 50%;
    height: 12%;
}

.earn-column {
    color: red;
}

.marked-row {
    background-color: #d0cccc;
}


/* CSS for show product container */
.show-products-container {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .product {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 15px 5px rgba(0, 0, 0, 0.1);
  }
  
  
  .product-details {
      flex: 2;
  }
  
  .product-details h3 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 8px;
    color: #14ada8;
  }
  
  .product-image {
    flex: 1;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f1f1f1; 
  }
  
  .sellerInfo {
    color: #17dfd8; 
    font-weight: bold; 
  }
  
  .no-image {
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 50px;
  }
  
  .product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .product-details form {
    margin-top: 20px;
  }
  
  .product-details input[type="submit"] {
    background-color: #10bab4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .product-details input[type="submit"]:hover {
    background-color: #0c928e;
  }
  
  
    /* CSS for Purchase product page */
  .form-container {
      max-width: 400px;
      margin: 50px auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
  }
  
  .form-title {
      text-align: center;
      font-size: 24px;
      margin-bottom: 20px;
      color: #10bab4;
  }
  
  h3 {
    text-align: center;
    margin-top: 50px;
  }
  
  .form-group {
      margin-bottom: 20px;
      justify-content: center;
      align-items: center;
  }
  
  .form-group label {
      display: block;
      font-weight: bold;
      color: #555;
      margin-bottom: 5px;
  }
  
  .form-group input {
      width: 95%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
  }
  
  .form-group input[type="submit"] {
    width: 100%;
    background-color: #10bab4;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .form-group input[type="submit"]:hover {
      background-color: #0c928e;
  }
  
  /* CSS for Process Purchase page */
  .purchase-success {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    max-width: 500px;
    margin: 50px auto;
    font-family: "Arial", sans-serif;
  }
  
  .purchase-success a.back-btn {
    display: inline-block;
    background-color: #10bab4;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 20px;
  }
  
  .purchase-success a.back-btn:hover {
    background-color: #0c928e;
  }
  
  .discountColor {
    color: red;
  }

